#app-container {
#phone-island-container {
  .draggableAnchor,
  .pi-absolute,
  .pi-pointer-events-auto {
    transform: none !important;
    /* -webkit-app-region: no-drag !important; */
    /* -webkit-app-region: drag !important; */
  }
}


#phone-island-container [id^="headlessui-menu-items-"]{
  position: relative;
  margin-inline: 0;
  margin-block: 0;
  margin-top: calc(20px - 100%);
  right: 100%;
}



#openDevToolButton {
  pointer-events: all;
  border: 0 solid transparent;
  border-radius: 0 8px 0 0;
}


.light ::-webkit-scrollbar {
  width: 5px;
  background-color: #f9fafb;
  -webkit-app-region: no-drag;
  border-radius: 6px;
}

.light ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #d1d5db;
  -webkit-app-region: no-drag;
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar {
  width: 5px;
  background-color: #111827;
  -webkit-app-region: no-drag;
}

.dark ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #374151;
  -webkit-app-region: no-drag;
  border-radius: 9999px;
}

* {
  outline-color: transparent !important;
}


}
